# SplitPad: virtual mouse for controller input in menus and an unfocused window
public net.minecraft.client.MouseHandler f_91507_ # xpos
public net.minecraft.client.MouseHandler f_91508_ # ypos
public net.minecraft.client.MouseHandler f_91520_ # mouseGrabbed
public net.minecraft.client.MouseHandler m_91530_(JIII)V # onPress
public net.minecraft.client.MouseHandler m_91526_(JDD)V # onScroll
public net.minecraft.client.MouseHandler m_91561_(JDD)V # onMove
public net.minecraft.client.KeyMapping f_90818_ # clickCount
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_6597_(Lnet/minecraft/world/inventory/Slot;IILnet/minecraft/world/inventory/ClickType;)V # slotClicked
